
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*::selection{
    background-color: #16be9a;
    color:white;
}
label,
input[type='checkbox']{
    cursor: pointer;
}

.hide{
    display: none;
}
html,body{
    height: auto;
    min-height: 100vh;
}
body{
    background:linear-gradient(#07f853c5,#092a45);
    background-size: cover;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat' ;
   
}

.container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: auto;
    box-shadow: 5px 10px 50px rgba(51, 51, 51, 0.753) ;
    background-repeat: no-repeat;
    margin: 2rem;

    
}
.container-img{
    background-image: url(https://images.unsplash.com/photo-1682687220795-796d3f6f7000?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 50%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    
}
.container-img::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, #092a45af 3%,#08223839);
    z-index: 1;
    
}
.container-img h3{
color:white;
font-size: 5rem;
position: relative;
z-index: 2;
}
form{
    background-color: #fff;
    flex:1;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}
form h3{
    font-size: 2.7rem;
    color:#092a45;
    margin-bottom:1rem;
    font-weight: 500;
}
form p{
color: #092a45;
font-size: 17px;
font-weight: 100;
}
.container-input{
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.label-container-input{
margin-left:2rem;

position: absolute;
transition: 0.5s;
}
.anima-label{
    margin: -1.3rem 0 0 0 !important;
    color: #16be9a;
    
}
.anima-input{
    border-bottom: #16be9a;
}

.input{
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0.5rem 0.7rem;
    outline: none;
    height: 40px;
    width: 450px;
    transition: 0.5s;
    font-size: 20px;
}
.container-create{
    margin-top: -2rem;
}
#text-create-password{
margin-top: 0.9rem;
}
#text-create-password span{
font-weight: bold;
cursor: pointer;

}
#text-create-password span:hover{
color: #16be9a;

}
#container-custom-password{
    margin-top:3%;
    border:2px solid #092a45af;
    padding: 0.5rem 0.7rem;

    
}
.text-container-custom{
color: #0a9476;
}


#iQuantidade{
width: 12%; 
padding: 0.6rem;
text-align: center;


}
#iQuantidade::-webkit-inner-spin-button{
    display:none;
}
.div-input,.div-input2{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.div-input label{
    font-weight: 600;
}
.div-input2{
    width: 100%;
    
    margin-top:1.5rem ;
}

#container-create-senha{
    border: 1px solid #092a45;
    padding: 0.5rem;
    margin-top:1rem ;
}
#container-create-senha p{
   color: #07f853c5;
   font-weight: bold;
}
#senha-gerada{
    font-size: 25px;
    margin-top: 0.7rem;
}
.btn-create{
    width: 150px;
    padding: 1rem 2rem ;
    background-color: #0a9476;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
#btn{
    max-width: 200px;
    width: 100%;
    background-color: #05b83dc5;
    border: none;
    padding:1rem 2rem;
    font-size: 24px;
    color: #fff;
}
#copy-password{
    max-width: 180px;
    padding: 0.7rem 1rem ;
    background-color: #05b83dc5;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}